<div class="grid__item medium-up--one-half">
  {%for block in section.blocks %}
    <img  src = "{{block.settings.imagealt | img_url:'master'}}" />                
    {%endfor%}
    </div>
    
    {% schema %}
      {
        "name": "alternate_rudsak",
        "settings": [], 
        "blocks" : [
                      {  "type": "image",
                         "name": "image block",
                         "settings": [
                                       {
                                         "type" : "image_picker",
                                         "label" : "your image",
                                         "id" : "imagealt"
                                        }
                                      ]
                       }
                     ],
         "presets" : [    
                        {    "category" : "image",
                              "name": "image section alt"
                        }
                       
                      ] 
      }
  {% endschema %}
    
    
    
    
    